.node__root > circle {
    fill: #6558F5
  }


  .node__leaf > circle {
    fill: #6558F5;
    /* Let's also make the radius of leaf nodes larger */
  }
  
  .node__branch > circle {
    fill: #6558F5;
  }

  .custom-link{
      stroke: #2e2e2e !important;
  }
  
  button{
    background-color: #2185D0;
    margin-left: 0.6%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'lato';
  }