.node__root > circle {
    fill: #6558F5
  }


  .node__leaf > circle {
    fill: #6558F5;
    /* Let's also make the radius of leaf nodes larger */
  }
  
  .node__branch > circle {
    fill: #6558F5;
  }

  .custom-link{
      stroke: #2e2e2e !important;
  }
  